<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= yield :component_styles %>
    <%= yield :side_loaded_css %>
  </head>
  <body>
    <%= yield %>
    <%= yield :side_loaded_js %>
  </body>
</html>
